TELEGRAM_BOT_TOKEN=
ERROR_ADMIN_USER_ID=1300450286
PAYMENT_ADMIN_USER_ID=
PAYMENT_REQUISITES=Карта / СБП: укажите реквизиты. Получатель:

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=Masters_MSC_bot
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

GOOGLE_SERVICE_ACCOUNT_FILE=masters-msc-bot-47f443f738d7.json
GOOGLE_SHEETS_ID=1mbzIQ5Kl0RJf4BneqYTAMgBdMyHRlVc-1OpNTSyCgLU
